@media(max-width: 750px) {
  .pokedevs {
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .pokedev-card {
    max-width: 300px;
  }

  .pokedev-card .card-information {
      padding: 60px 30px 30px;
      margin-top: -50px;
  }

  .pokedev-card .card-information h3 {
    font-size: 16px;
  }

  .list {
    max-width: 360px;
  }

  .list .pokedev {
    width: 45%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
    border-radius: 8px;
  }

  .list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}